# Web Scrapping

In [15]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

# If response code : 403
 - headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
 -requests.get('url',headers=headers).text

In [16]:
headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page=1'

In [17]:
webpage = requests.get( url, headers=headers).text

In [18]:
soup = BeautifulSoup(webpage,'lxml')

In [19]:
#print(soup.prettify())

In [20]:
soup.find_all('h1')[0].text.strip()

'List of companies in India'

# To Find Out Names Of The Companies

In [21]:
for i in soup.find_all('h2',class_= 'companyCardWrapper__companyName'):
    print(i.text.strip())

TCS
Accenture
Cognizant
Wipro
ICICI Bank
HDFC Bank
Infosys
Capgemini
Tech Mahindra
HCLTech
Genpact
Axis Bank
Concentrix Corporation
Amazon
IBM
Reliance Jio
Larsen & Toubro Limited
HDB Financial Services
Reliance Retail
Teleperformance

# To Find Out The Ratings

In [22]:
for i in soup.find_all('span',class_= 'companyCardWrapper__companyRatingValue'):
    print(i.text)

3.8
4.1
3.9
3.8
4.0
3.9
3.9
3.9
3.7
3.7
4.0
3.8
3.9
4.2
4.1
4.0
4.0
4.0
3.9
3.6

# To Find Out How many Year Company Old

In [23]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    for j in i :
        print(j.text.strip().split('|')[-2].replace(' years old ',''))

 55
 34
 29
 78
 29
 29
 42
 56
 37
 32
 26
 30
 40
 29
 112
 16
 85
 16
 17
 45

# To Find Out Location

In [24]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    for j in i :
        print(j.text.strip().split('|')[-1].replace(' more',''))

 Mumbai +281
 Dublin +141
 Teaneck. New Jersey. +111
 Bangalore/Bengaluru +243
 Mumbai +1183
 Mumbai +1413
 Bengaluru/Bangalore +135
 Paris +87
 Pune +232
 Noida +151
 New York +79
 Mumbai +1216
 Fremont +82
 Seattle +393
 Armonk +129
 Navi Mumbai +1084
 Mumbai +572
 Ahmedabad +884
 Navi Mumbai +884
 Paris +132

 # To Find Out About

In [25]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    print(i.text.strip().split('|')[0])

IT Services & Consulting
IT Services & Consulting
IT Services & Consulting
IT Services & Consulting
Banking
Banking
IT Services & Consulting
IT Services & Consulting
IT Services & Consulting
IT Services & Consulting
IT Services & Consulting
Banking
BPO
Internet
Software Product
Telecom
Engineering & Construction
NBFC
Retail
BPO

# Considering The Whole Container

In [26]:
company = soup.find_all('div',class_='companyCardWrapper')

In [27]:
len(company)

20

In [28]:
name = []
rating = []
year = []
loc = []
about = []
emp = []
review = []

for i in company:
    
    name.append(i.find('h2').text.strip())
    rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
    year.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-2].replace(' years old ',''))
    loc.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-1].replace(' more',''))
    about.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-0])
    emp.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[1].replace(' Employees ',''))
    review.append(i.find('span',class_='companyCardWrapper__ActionCount').text.strip().replace('k',' ').strip())
    

d = {
    'Name': name,
    'Rating': rating,
    'Years': year,
    'Locaton': loc,
    'No of Employee': emp,
    'About':about,
    'Review': review
}


df = pd.DataFrame(d)

In [29]:
for i in company:
    i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-2]

In [30]:
len(year)

20

In [31]:
df

,Name,Rating,Years,Locaton,No of Employee,About,Review
0,TCS,3.8,55,Mumbai +281,1 Lakh+,IT Services & Consulting,62.3
1,Accenture,4.1,34,Dublin +141,1 Lakh+,IT Services & Consulting,39.7
2,Cognizant,3.9,29,Teaneck. New Jersey. +111,1 Lakh+,IT Services & Consulting,36.3
3,Wipro,3.8,78,Bangalore/Bengaluru +243,1 Lakh+,IT Services & Consulting,29.9
4,ICICI Bank,4.0,29,Mumbai +1183,1 Lakh+,Banking,29.4
5,HDFC Bank,3.9,29,Mumbai +1413,1 Lakh+,Banking,28.9
6,Infosys,3.9,42,Bengaluru/Bangalore +135,1 Lakh+,IT Services & Consulting,27.2
7,Capgemini,3.9,56,Paris +87,1 Lakh+,IT Services & Consulting,25.2
8,Tech Mahindra,3.7,37,Pune +232,1 Lakh+,IT Services & Consulting,23.7
9,HCLTech,3.7,32,Noida +151,1 Lakh+,IT Services & Consulting,22.9
10,Genpact,4.0,26,New York +79,50k-1 Lakh,IT Services & Consulting,22.9
11,Axis Bank,3.8,30,Mumbai +1216,50k-1 Lakh,Banking,19.5
12,Concentrix Corporation,3.9,40,Fremont +82,10k-50k,BPO,18.2
13,Amazon,4.2,29,Seattle +393,1 Lakh+,Internet,17.6
14,IBM,4.1,112,Armonk +129,50k-1 Lakh,Software Product,17.5
15,Reliance Jio,4.0,16,Navi Mumbai +1084,50k-1 Lakh,Telecom,17.5
16,Larsen & Toubro Limited,4.0,85,Mumbai +572,1 Lakh+,Engineering & Construction,16.6
17,HDB Financial Services,4.0,16,Ahmedabad +884,10k-50k,NBFC,15.6
18,Reliance Retail,3.9,17,Navi Mumbai +884,1 Lakh+,Retail,15.3
19,Teleperformance,3.6,45,Paris +132,10k-50k,BPO,14.7

In [32]:
df.shape

(20, 7)

In [ ]:
final = pd.DataFrame()

for j in range(1,501):
    
    headers = {'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36'}
    
    url = 'https://www.ambitionbox.com/list-of-companies?campaign=desktop_nav&page={}'.format(j)
    
    webpage = requests.get( url, headers=headers).text
    
    soup = BeautifulSoup(webpage,'lxml')
    
    company = soup.find_all('div',class_='companyCardWrapper')
    
    name = []
    rating = []
    year = []
    loc = []
    about = []
    emp = []
    review = []

    for i in company:

        name.append(i.find('h2').text.strip())
        rating.append(i.find('span',class_='companyCardWrapper__companyRatingValue').text.strip())
        #year.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-2].replace('years old',''))
        
        try:
            year.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-2].replace('years old',''))

        except:
            year.append(np.nan)
        
        loc.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-1].replace(' more',''))
        about.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[-0])
        #emp.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[1].replace(' Employees ',''))
        
        try:
            emp.append(i.find('span',class_='companyCardWrapper__interLinking').text.strip().split('|')[1].replace(' Employees ',''))
        
        except:
            emp.append(np.nan)
        
        review.append(i.find('span',class_='companyCardWrapper__ActionCount').text.strip().replace('k',' ').strip())


    d = {
        'Name': name,
        'Rating': rating,
        'Years': year,
        'Locaton': loc,
        'No of Employee': emp,
        'About':about,
        'Review(K)': review
    }


    df = pd.DataFrame(d)
    
    final=final.append(df,ignore_index=True)

C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)
C:\Users\vansh\AppData\Local\Temp\ipykernel_11792\1766758888.py:61: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df,ignore_index=True)

In [ ]:
final.shape

In [ ]:
final

In [ ]:
final.to_csv('ambitionbox-500-companies-dataset.csv')

# name

In [ ]:
for i in soup.find_all('h2',class_= 'companyCardWrapper__companyName'):
    print(i.text.strip())

# rating

In [ ]:
for i in soup.find_all('span',class_= 'companyCardWrapper__companyRatingValue'):
    print(i.text)

In [ ]:
for i in soup.find('div',class_ = 'companyCardWrapper__tertiaryInformation').find('span',class_='companyCardWrapper__ActionCount'):
    print(i.text)

# review

In [ ]:
r =[]
for i in soup.find_all('span',class_= 'companyCardWrapper__ActionCount'):
    for j in i:
        ans = j.text
        r.append(ans)
print(r[::6])

# year

In [ ]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    for j in i :
        print(j.text.strip().split('|')[-2].replace(' years old ',''))

In [ ]:
#len(year)

# location

In [ ]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    for j in i :
        print(j.text.strip().split('|')[-1].replace(' more',''))

 # about/

In [ ]:
for i in soup.find_all('span',class_='companyCardWrapper__interLinking'):
    print(i.text.strip().split('|')[0])

Now ignore above part 
i can also extract whole 1 contener